@model Genre

<div class="d-flex justify-content-center">
	<div class="card w-50 shadow bg-dark mt-4">
		<div class="card-header bg-dark bg-gradient mt-0 py-1">
			<div class="row">
				<div class="col-12 text-center">
					<h2 class="text-white py-2">Create Category</h2>
				</div>
			</div>
		</div>
		<div class="card-body p-4">
			<form method="post" class="row">
				<div class="mb-3">
					<label asp-for="Name" class="text-white-50 form-label"></label>
					<input asp-for="Name" class="form-control" placeholder="Genre Name">
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="row pt-2">
					<div class="col-6 col-md-3">
						<button type="submit" class="btn btn-primary form-control">Create</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts
{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}


