@model List<Room>

<div class="row justify-content-center">
	<div class="card shadow border-0 bg-primary bg-opacity-50 mt-4 w-100 px-0">
		<div class="card-header bg-primary py-1">
			<div class="row">
				<div class="col-12 text-center">
					<h2 class="text-white py-2 my-0">Choose Room</h2>
				</div>
			</div>
		</div>
		<div class="card-body p-4">
			<div class="row justify-content-around">
				@foreach (var room in Model)
				{
					<a asp-controller="Room" asp-action="Details" asp-route-id="@room.Id" class="btn btn-primary col-lg-2 fs-1 my-3 rounded rounded-2"><i class="bi bi-tv d-inline-block mb-3" style="font-size:50px"></i><br />@room.Number Room</a>
				}
			</div>
		</div>
	</div>
</div>
